.activity-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.activity-days {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-around;
  height: 400px;
  /* width:fit-content; */
  align-content: space-between;
  /* flex: 1 1 0; */

}

.activity {
  display: flex;
  flex-direction: column;
  /* flex-shrink: 5; */
}

.new-activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 300px;

}