
<div style="text-align:center">
    <h2 class="login-text" >Login here!</h2>
  <div class="login-form">
      <form>
        <mat-form-field class="form-group login-full-width">
          <input #username matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field class="form-group login-full-width">
          <input #password type="password" matInput placeholder="Password">
        </mat-form-field>
      </form>
    <button (click)='loginUser(username.value, password.value)' class="btn btn-login">Login</button>
    <button (click)='registerUser(username.value, password.value)' class="btn btn-register">Sign Up</button>
  </div>
  <p>{{message}}</p>
</div>
