.login-text {

}

.login-form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  border: #19C3FB;
  border-style: solid;
  padding: 10px;
  border-radius: 8px;
  margin-top: 50px;
  padding-top: 40px;
}

.login-full-width {
  
  width: 60%;
}

.btn-login {
  width: 90px;
  background: #1C9CF6;
  margin: auto;
  margin-bottom: 20px;
  color: #FFFAE0;
  padding: 2px;
}
.btn-register {
  width: 90px;
  margin: auto;
  margin-bottom: 20px;
  color: #1D71F2;
  padding: 2px;
  background: transparent;
}