
<div style="text-align:center">

  <p>Login here!</p>

  <form class="login-form">

    <mat-form-field class="login-full-width">
      <input #username matInput placeholder="Username">
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <input #password type="password" matInput placeholder="Password">
    </mat-form-field>

    <br>
    
  </form>

<button (click)='loginUser(username.value, password.value)'>Login</button>

<button (click)='registerUser(username.value, password.value)'>Sign Up</button>

<p>{{message}}</p>

</div>
