
/* 
.navbar-brand {
}  */

/* .navbar-dark { */
  
/* } */

.jumbotron {
  background-color: #E3F4FE;
}

.navbar {
  color: #FFFAE0;
}

.navbar-brand {
}

.bg-primary {
}

.navbar-dark {
  background-color: #1D71F2;
}